@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>

<h3>@Model.Path</h3>
<p>
    @Model.ErrorMessage
</p>
<p>
    @Model.StackTrace
</p>
<p>
    <small>Please, contact somebody with this information immediately.</small>
</p>