@{
    ViewData["Title"] = "Home Page";
}

<section class="light">
    <div class="calendar">
        <!-- CALENDAR HEADER START -->
        <div class="calendar-header">
            <span class="month-picker" id="month-picker">
                
            </span>
            <div class="year-picker">
                <span class="year-change mt-3" id="prev-year">
                    <pre> < </pre>
                </span>
                <span id="year">@DateTime.Now.Year</span>
                <span class="year-change mt-3" id="next-year">
                    <pre> > </pre>
                </span>
            </div>


        </div>

        <!-- CALENDAR BODY START -->
        <div class="calendar-body">
            <div class="calendar-week-day">
                <div>Пон</div>
                <div>Втo</div>
                <div>Сря</div>
                <div>Чет</div>
                <div>Пет</div>
                <div>Съб</div>
                <div>Нед</div>
            </div>
            <div class="calendar-day">
                <div>
                    1
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
            </div>
        </div>

        <!-- CALENDAR FOOTER START -->
        @* <div class="calendar-footer"> *@
        @*     <div class="toggle"> *@
        @*         <span>Dark Mode</span> *@
        @*         <div class="dark-mode-switch"> *@
        @*             <div class="dark-mode-switch-ident"></div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        <div class="month-list"></div>
    </div>
</section>